/* UVTChatbot.css */
.uvt-chatbot-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.uvt-chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: scroll;
}

.uvt-message {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.user {
  background-color: #e0f7fa;
  align-self: flex-end;
}

.bot {
  background-color: #b2dfdb;
  align-self: flex-start;
}

.uvt-chat-input {
  display: flex;
  padding: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
